@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 800;
}

.navbar {
  color: black;
  background: rgba(255, 255, 255, 0.507);
}

.nav--margin {
  text-align: center;
}

/* .bg--blur {
  width: 100vw;
  height: 100vh;
  background: rgba(128, 128, 128, 0.247);
} */
