@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 800;
}

.navbar {
  padding: 0.5em 1.5em;
  color: black;
  border-bottom: 2px solid rgba(128, 128, 128, 0.349);
}

.nav--margin {
  width: 100vw;
  /* margin-left: auto; */
  text-align: center;
}
