.sidebar {
  position: absolute;
  z-index: 1;
  top: 0;
  background: rgba(0, 0, 0, 0.39);
  width: 100%;
  height: 100vh;
}

.sidebar--width {
  margin-left: auto;
  width: 20%;
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.99;
}

.sidebar__pages--link {
  display: flex;
  flex-direction: column;
  margin-top: 2.7em;
}

.sidebar__pages--link > li {
  margin: 0.9em;
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.37);
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;
}

.sidebar__medias--link {
  display: flex;
  justify-content: center;
  padding: 2.5em 0 0.5em 2em;
}

.img {
  opacity: 0.9;
  width: 30px;
  margin-right: 10px;
}
