.header--position {
  position: fixed;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  top: 0;
  z-index: 0;
  align-items: center;
  padding: 0.3em 1.5em;
  font-size: 1.7rem;
}

.header__logo {
  font-size: 2rem;
  font-weight: 800;
}
